.board_section .board_section_title {
  font-weight: bold;
  font-size: 2rem;
}
.board_section select {
  border: none;
  margin: 0;
  background-color: #f9f9f9;
  height: 2.5rem;
  border-radius: 1.125rem;
  font-weight: 300;
  font-size: 0.875rem;
  width: fit-content;
  padding-right: 2rem;
}

/* 게시판 필터 영역 */
.board_section .filter_area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}
.board_section .filter_area .search_area {
  display: flex;
  justify-content: stretch;
  gap: 0.625rem;
}
.board_section .filter_area .search_box {
  position: relative;
  height: 2.5rem;
}
.board_section .filter_area .search_box input {
  border: none;
  background-color: #f9f9f9;
  height: 100%;
  border-radius: 1.125rem;
}
.board_section .filter_area .search_box button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  height: 100%;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff8847;
}

/* 게시판 목록 */
.board_table {
  width: 100%;
  border-top: 2px solid #232323;
}
.board_table caption {
  display: none;
}
.board_table th,
.board_table td {
  padding: 1rem;
  text-align: center;
}
.board_table th {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1rem;
  color: #232323;
}
.board_table td {
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.875rem;
  color: #111111;
}
.board_table td.col_02 {
  text-align: left;
  font-weight: bold;
}
.board_table td a {
  color: #111111;
}
.board_table td a:hover {
  text-decoration: underline;
}
.board_table tr.new td.col_02::after {
  content: 'N';
  color: #ff8847;
  padding-left: 0.25rem;
}

.pagination-style-01 .page-item .page-link:hover,
.pagination-style-01 .page-item.active .page-link {
  background-color: #ff8847;
  color: #ffffff;
}
.pagination-style-01 .page-item.nav_btn .page-link {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-width: 0;
  width: 2.5rem;
  height: 2.5rem;
}
.pagination-style-01 .page-item.nav_btn .page-link:hover {
  background-color: #ff8847;
  color: #ffffff;
}

/* 게시판 상세보기 페이지 */
.board_view .top_area {
  border-top: 2px solid #232323;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1rem;
  color: #232323;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.board_view .top_area .title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.board_view.new .top_area .title::after {
  content: 'N';
  color: #ff8847;
  font-size: 0.875rem;
  padding-left: 0.5rem;
}

.board_view .top_area .info_area {
  display: flex;
  gap: 2.5rem;
  font-size: 0.875rem;
}
.board_view .top_area .info_area dl {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.board_view .top_area .info_area dt {
  line-height: normal;
  font-weight: 700;
}
.board_view .top_area .info_area dd {
  line-height: normal;
  margin-bottom: 0;
}
.board_view .content_area {
  border-bottom: 1px solid #e5e5e5;
  padding: 2.5rem 1.875rem;
  font-size: 0.875rem;
  color: #111111;
}
.board_view .attach_area {
  border-bottom: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 1.875rem;
  font-size: 0.875rem;
  color: #111111;
}
.board_view .attach_area ul,
.board_view .attach_area li {
  list-style: none;
}
.board_view .attach_area li {
  padding: 0.625rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.board_view .attach_area button {
  height: 1.75rem;
  border-radius: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 0 1rem;
  border: 1px solid #efefef;
}
.board_view .button_area {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  padding: 1.25rem 0;
}
.board_view .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  padding: 0 1.5rem;
}
.board_view .btn.btn_primary {
  background-color: #ff8847;
  color: #ffffff;
}
