@charset "UTF-8";

#factoryIntroductionSection .table_area {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  min-width: 672px;
  max-width: 1235px;
  background-color: #f7f7f7;
  padding: 2.825rem;
  color: #333333;
}

#factoryIntroductionSection .top_table {
  width: 100%;
  border: none;
}
#factoryIntroductionSection .top_table th {
  font-weight: 500;
  font-size: 1.25rem;
}
#factoryIntroductionSection .top_table .first_line th:nth-child(1) {
  width: 20%;
}
#factoryIntroductionSection .top_table td {
  font-weight: 400;
  font-size: 1rem;
}

#factoryIntroductionSection .table_area .body_table {
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-top: 2rem;
}
#factoryIntroductionSection .table_area .body_table th,
#factoryIntroductionSection .table_area .body_table td {
  border: 1px solid #e1e1e1;
  padding: 0.75rem;
}
#factoryIntroductionSection .table_area .body_table th {
  font-weight: 500;
  font-size: 1.25rem;
}
#factoryIntroductionSection .table_area .body_table td {
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 1600px) {
  #factoryIntroductionSection .table_area {
    position: relative;
    transform: none;
    padding: 2.825rem;
  }
}
